.container{
    background-color: rgb(111, 80, 80);
    width: 900px;
    height: 550px;
    margin: auto;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}

.casino{
    background-color: rgb(247, 3, 3);
    width: 100%;
    height: 300px;
    margin: 0;
    display: flex;
}

.roulette{
    background-color: rgb(99, 113, 208);
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.circle{
    width: 80%;
    height: 80%;
    background-color: red;
    border-radius: 50%;   
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background-color: rgb(32, 210, 121);
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
   
}

.data1{
    background-color: rgb(135, 30, 91);
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.data2{
    background-color: rgb(40, 107, 174);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data3{
    background-color: rgb(210, 160, 36);
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.wonlost{
    background-color: chocolate;
    width: 20%;
}

.saldo{
    background-color: rgb(135, 210, 30);
    width: 20%;
}

.statistics{
    background-color: rgb(118, 100, 8);
    width: 20%;
}

.lastbets{
    width: 80%;
    height: 40%;
    background-color: crimson;
    align-items: center;
}

.invest{
    background-color: rgb(187, 64, 91);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  
    }


.automate{
    background-color: rgb(97, 139, 106);
    width: 20%;
}

.endgame{
    background-color: rgb(194, 227, 128);
    width: 20%;
}

.zero{
    background-color: rgb(7, 80, 42);
    width: 9%;
    height: 100%;
    color: beige;
    font-weight: bold;
    text-align: center;    
    align-items: center;   
    display: flex;
    justify-content: center;
}

.numbers{
    background-color: rgb(205, 222, 213);
    width: 100%;
    height: 100%;
    color: beige;
    font-weight: bold;
    text-align: center;    
    align-items: center;   
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.r1{
    background-color: burlywood;
    width: 100%;
    height: 100%;
    display: flex;
}
.r2{
    background-color: rgb(62, 3, 125);
    width: 100%;
    height: 100%;
    display: flex;
}

.r3{
    background-color: rgb(73, 83, 228);
    width: 100%;
    height: 100%;
    display: flex;
}
/*--------------------------------------------*/
.thirds{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-around;    
}
.third1{
    background-color: green;    
    width: 100%;
    height: 40%;
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;
}
.third2{
    background-color: green;    
    width: 100%;
    height:40%;
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;
}

.third3{
    background-color: green;
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;
}

.thirdE{
    background-color: green;
    width: 25%;
    height: 40%;    
    padding:25px 0px;
    
    border-style: solid;
    border-width: thin;
}

/*--------------------------------------------*/

.halfs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-around;   
    border-style: solid;
    border-width: thin; 
}

.oneeighteen{
    background-color: green;
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;
}

.even{
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;
}

.redlosange{
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;   
}

.blacklosange{
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;   
}

.odd{
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;   
}

.eighteenthirtysix{
    width: 100%;
    height: 40%;    
    padding:25px 0px;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    border-style: solid;
    border-width: thin;   
}

.halfE{
    background-color: green;
    width: 50%;
    height: 40%;    
    padding:25px 0px;
    
    border-style: solid;
    border-width: thin;
}

/*--------------------------------------------*/
.n1{
    width: 8.3%;
    background-color: black;
    /*text-align: center;*/
    align-items: center;
    display: flex;
    justify-content: center;
   
}

.n4{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n7{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n10{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n13{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n16{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n19{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n22{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n25{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n28{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n31{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n34{
    width: 8.4%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}
/*--------------------------------------------*/


.n2{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n5{
    width: 8.3%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n8{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n11{
    width: 8.3%;
    background-color:rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n14{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n17{
    width: 8.3%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n20{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n23{
    width: 8.3%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n26{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n29{
    width: 8.3%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n32{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n35{
    width: 8.3%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------*/

.n3{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n6{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n9{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n12{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n15{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n18{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n21{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n24{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n27{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n30{
    width: 8.3%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

.n33{
    width: 8.3%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n36{
    width: 8.4%;
    background-color: rgb(254, 8, 8);
    align-items: center;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------*/
.col1{
    width: 8.4%;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    
}

.col2{
    width: 8.4%;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.col3{
    width: 8.4%;
    background-image: linear-gradient(rgb(12, 85, 9), rgb(26, 255, 0));
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}


/*--------------------------------------------*/


.gobetting{
    cursor: pointer;
    background-color: aqua;

}
